@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*common style*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rosybrown;
    color: crimson;
}

a {
    text-decoration: none;
}

.header-title:hover {
    color: wheat;
}

.header-title-color:hover {
    color: rgb(245, 8, 55);
}

.header-title-color {
    color: brown;
}

header {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.624), rgba(0, 0, 0, 0.365)), url("./images/header-banner.jpg");
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header-item h4 {
    font-size: 30px;
}

#header-item h1 {
    font-size: 50px;
}

#header-item p {
    font-size: 15px;
    margin-bottom: 15px;
}

.primary-btn {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}

.primary-btn:hover {
    background-color: white;
    color: blue;
    border: 2px solid firebrick;
}

/* section start */
#section-info {
    margin: 30px 0px;
    width: 100%;
}

#section-info h2 {

    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 41px;
    align-items: center;
}

.half-container {
    width: 50%;
}

.half-container img {
    width: 90%;
}

.fa-solid {
    font-size: 31px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

#product-section {
    margin: 30px 0px;
    width: 100%;
}

#product-section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.products-item-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 90%;
    margin: 0 auto;
}

.products-Item-info {
    text-align: center;
    box-shadow: gray 5px 5px 40px;
    padding: 30px 10px;
}

.products-Item-info img {
    margin: 20px 0;
}

.products-Item-info p {
    margin-bottom: 20px;
}